<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true">
  <testsuites>
    <testsuite name="default">
      <directory>./tests</directory>
    </testsuite>
  </testsuites>
  <coverage>
    <include>
      <directory suffix=".php">./src</directory>
    </include>
    <report>
      <text outputFile="php://stdout"/>
      <clover outputFile="build/logs/clover.xml"/>
    </report>
  </coverage>
</phpunit>
